@media only screen and (max-width: 768px) {
    header .nav  {
      display: none;
    }
    .menu{
      display: block;
      width: 20%;
      margin-right: 4%;
    }
    .box h2{
      padding: 0px 0px 9px 35px !important;
    }
    .bgcolor{
      background-color: #e6dace;
      width: 100% !important;
    }

    .card{
      margin-top: -109% !important;
     justify-content: center;
    }
    .side{
      width: 50%  !important;
      margin-top: 100% !important;
    }
}
@media only screen and (min-width: 768px) {
    .menu{
       display: none;
    }
 }
 @media only screen and (max-width: 835px) {
     .nav ul{
       display: flex;
       gap: 30px;
     }
     .card{
       margin-top: -109% !important;
      justify-content: center;
     }
 }
 


body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    z-index: 0;
}
.resume{
    background-color: #e6dace;
 }
 
 header{
     display: flex;
     background-color: #fff;
     padding: 1.5rem;
     align-items: center;
     justify-content: space-evenly;
     position: fixed;
     width: 100%;
     z-index: 1;
 }
 
   ul{
     list-style-type: none;
     display: flex;
     gap: 50px;
     margin: 0;
     color: black;
  }
  .box{
     position: relative;
  }
  .box h2{
     font-family: "Poppins", sans-serif;
     font-weight: 600;
     margin: 0;
     padding: 0px 190px 9px 35px;
     align-items: center;
     font-size: xx-large;
     width: 100%;
  }
 
 
 
  span{
     font-weight: 200;
     font-size: large;
  }
  ul li:hover{
     color: blue;
  }
  header  ul a{
     text-decoration: none;
     font-size: 15px;
  }
  h2::before{
     position: absolute;
     width: 23px;
     height: 23px;
     content: "";
     background-color: blue;
     margin-top: 2%;
     left: 0;
 
  }
  span h1::before{
    position: absolute;
    width: 23px;
    height: 23px;
    content: "";
    background-color: blue;
    margin-left: -2.5%;
    margin-top: 1%;
    
}
.btn1:hover{
   background-color: #e6dace;
   color: black !important;
   transition: ease 0.5s !important;
   border: 2px solid rgba(31, 3, 242, 0.811) !important;
}
.btn1{
   background-color: rgb(0, 0, 218);
   color: white ; 
   border: none ;
   text-decoration: none;
   transition: all;
} 
.button1{
   text-decoration: none;
   color: white;
} 
a{
   text-decoration: none;
   color: black;
}
 span h1{
    padding: 0px 190px 9px 35px;
 }
 
 .upper-head{
    display: flex;
    gap: 30%;
    align-items: center;
    margin-left: 32%;
 }
 .upper-head h3{
    font-size: 25px;
 }
 .upper-head .btn1{
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
 }
 
 .expi{
    background-color: white;
    width: 600px;
    height: 300px;
    margin-left: 32%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 20px;
 }

 .expi .expi1 h3{
    color:rgba(0, 0, 255, 0.673);
    padding: 0;
    margin: 0;
 }

 .expi .expi2 h4{
   font-weight: 300;
 }
 .expi .expi2 h5{
   font-weight: 300;
 }
 .epic{
   margin-right: 50%;
   padding-right: 5px;
   /* background-color: orange; */
 }
.disc {
   width: 50%;
   display: flexbox;
   font-weight: 300;
   float: right;
   margin-top: -39%;
   /* background-color: green; */
}
.expi{
   padding: 50px 20px 0px 20px;
}
#foot{
   background-color: #fff;
   width: 100%;
   height: 100px;
   margin-top: 12%;
   display: flex;
   justify-content: space-around;
}